body {
  margin: auto;
  max-width: 800px;
}

/*
 * GLOBAL
 */

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/*
 * NAV
 */

.nav-links {
	padding-left: 0;
}
.nav-links li {
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
}

/*
 * COMPONENTS
 */

.container-cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  min-width: 200px;
  text-align: center;
}

.requestor-link {
  margin: 0 3px;
}

#tool-search li {
	list-style-type: none;
}
