.nav-links {
	padding-left: 0;
}
.nav-links li {
	display: inline-block;
	margin: 0 10px;
	list-style-type: none;
}

/*
 * COMPONENTS
 */

.card {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  max-width: 200px;
  text-align: center;
}

#tool-search li {
	list-style-type: none;
}
